/*CSS RESET*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/*Here starts the main css*/
body {
  background-color: white;
}
body .body-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #B7BCD0;
}
body .body-wrapper .site-header {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 255, 0.5);
  color: white;
  text-align: center;
  height: 60px;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
}
body .body-wrapper .site-header h1 {
  font-size: 32px;
}
body .body-wrapper .responsive-card {
  position: absolute;
  background-color: #3873CC;
  border-radius: 10px;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
}
body .body-wrapper .responsive-card .card-image {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 10px;
  left: 10px;
}
body .body-wrapper .responsive-card .card-image .img-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 2px 2px 2px 0px #2F476D;
  border-radius: 6px;
}
body .body-wrapper .responsive-card .card-image .img-wrapper img {
  width: 100%;
}
body .body-wrapper .responsive-card .card-title {
  height: 200px;
  position: absolute;
  top: 10px;
  left: 220px;
  right: 10px;
  text-align: center;
}
body .body-wrapper .responsive-card .card-title .card-header {
  color: white;
  height: 100px;
  font-family: "Raleway";
}
body .body-wrapper .responsive-card .card-title .card-header h1 {
  font-size: 32px;
  display: inline-block;
  vertical-align: middle;
  line-height: 100px;
  height: 100px;
  font-weight: 400;
}
body .body-wrapper .responsive-card .card-title .social-icons {
  height: 100px;
}
body .body-wrapper .responsive-card .card-title .social-icons ul {
  display: block;
  padding: 0;
  list-style: none;
  height: 100px;
  line-height: 100px;
}
body .body-wrapper .responsive-card .card-title .social-icons ul li {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0px 10px;
  vertical-align: middle;
}
body .body-wrapper .responsive-card .card-title .social-icons ul li a {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  vertical-align: top;
  box-shadow: 2px 2px 3px 1px #2F476D;
  border-radius: 8px;
}
body .body-wrapper .responsive-card .card-title .social-icons ul li a img {
  width: 100%;
}
body .body-wrapper .responsive-card .card-title .social-icons ul li a:hover {
  box-shadow: 3px 3px 3px 1px #1E3354;
}
body .body-wrapper .responsive-card .card-title .social-icons ul li a:active {
  box-shadow: 1px 1px 5px 1px #2F476D;
}
body .body-wrapper .responsive-card .card-info {
  position: absolute;
  top: 220px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
body .body-wrapper .responsive-card .card-info .card-info-header {
  height: 50px;
}
body .body-wrapper .responsive-card .card-info .card-info-header ul {
  display: block;
  padding: 0;
  list-style: none;
  height: 50px;
  line-height: 50px;
}
body .body-wrapper .responsive-card .card-info .card-info-header ul li {
  display: inline-block;
  height: 50px;
  vertical-align: middle;
  text-align: center;
  width: 33%;
  margin: 0 auto;
}
body .body-wrapper .responsive-card .card-info .card-info-header ul li.absolute-left {
  position: absolute;
  left: 3px;
}
body .body-wrapper .responsive-card .card-info .card-info-header ul li.absolute-center {
  position: absolute;
  left: 0;
  right: 0;
}
body .body-wrapper .responsive-card .card-info .card-info-header ul li.absolute-right {
  position: absolute;
  right: 3px;
}
body .body-wrapper .responsive-card .card-info .card-info-header ul li button {
  cursor: pointer;
  display: inline-block;
  width: 95%;
  height: 50px;
  line-height: 50px;
  vertical-align: top;
  box-shadow: 1px 2px 3px 1px #2F476D;
  border-radius: 8px 8px 0 0;
  background-color: #8395F7;
  color: white;
  text-decoration: none;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 400;
  border: none;
  outline: none;
}
body .body-wrapper .responsive-card .card-info .card-info-header ul li button:hover {
  box-shadow: 3px 3px 3px 1px #1E3354;
}
body .body-wrapper .responsive-card .card-info .card-info-header ul li button:active {
  box-shadow: 1px 1px 5px 1px #2F476D;
}
body .body-wrapper .responsive-card .card-info .card-info-header ul li.current-tab button {
  background-color: #003C71;
}
body .body-wrapper .responsive-card .card-info .card-info-section-wrapper {
  background-color: #3873CC;
  position: absolute;
  top: 50px;
  left: -10px;
  right: -10px;
  bottom: 0px;
  border-top: 5px solid #003C71;
  border-radius: 10px 10px 10px 10px;
}
body .body-wrapper .responsive-card .card-info .card-info-section-wrapper .card-info-section {
  display: none;
}
body .body-wrapper .responsive-card .card-info .card-info-section-wrapper .card-info-section.current-section {
  display: block;
}
body .body-wrapper .responsive-card .card-info .card-info-section-wrapper .card-info-section .blog-iframe {
  border: none;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 200%;
  width: 200%;
  -moz-transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
}
body .body-wrapper .responsive-card .card-info .card-info-section-wrapper #cardSection1 {
  color: white;
  font-family: "Raleway";
}
body .body-wrapper .responsive-card .card-info .card-info-section-wrapper #cardSection1 a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
body .body-wrapper .responsive-card .card-info .card-info-section-wrapper #cardSection1 a:hover {
  text-decoration: underline;
}
body .body-wrapper .responsive-card .card-info .card-info-section-wrapper #cardSection1 .quote {
  font-size: 28px;
  display: block;
  padding: 30px;
  text-align: center;
}
body .body-wrapper .responsive-card .card-info .card-info-section-wrapper #cardSection1 .quote .small {
  font-size: 14px;
  font-family: "Open Sans";
}
body .body-wrapper .responsive-card .card-info .card-info-section-wrapper #cardSection1 .quote .big {
  font-size: 20px;
  font-family: "Raleway";
}
body .body-wrapper .responsive-card .card-info .card-info-section-wrapper #cardSection1 .job {
  display: block;
  padding: 10px 30px;
  font-size: 14px;
  text-align: center;
}
body .body-wrapper .responsive-card .card-info .card-info-section-wrapper #cardSection1 .study {
  display: block;
  padding: 10px 30px;
  font-size: 14px;
  text-align: center;
}
body .body-wrapper .responsive-card .card-info .card-info-section-wrapper #cardSection1 .hobby {
  display: block;
  padding: 10px 30px;
  font-size: 14px;
  text-align: center;
}
body .body-wrapper .responsive-card .card-info .card-info-section-wrapper #cardSection2 {
  text-align: center;
}
